.env
.env.*
data
/.idea/
*.iml
/target/
target
/commons/target/

***REMOVED*** Secrets and certificates
*.jks
*.p12
*.pem
*.key
*.cer
*.pfx

***REMOVED*** Secret purge script and artifacts
purge-secrets.sh
replacements.txt
.vscode